<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\logs\internal-nlog.txt">


	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  -->
		<target xsi:type="File" name="allfile" fileName="d:/C# learning/MyWalletLogs/nlog-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

	<target name="ApiLogs" xsi:type="File"
            layout="${longdate}|${uppercase:${level}}| ${logger} ${message}${exception:format=ToString}"
            fileName="d:/C# learning/MyWalletLogs/ApiLogs-${shortdate}.txt"
            keepFileOpen="true"
            encoding="utf-8" />
	
	<target name="ApplicationLogs" xsi:type="File"
            layout="${longdate} |${uppercase:${level}}|${logger} ${message}${exception:format=ToString}"
            fileName="d:/C# learning/MyWalletLogs/ApplicationLogs-${shortdate}.txt"
            keepFileOpen="true"
            encoding="utf-8" />
	
	<target name="PersistenceLogs" xsi:type="File"
            layout="${longdate} |${uppercase:${level}}|${logger} ${message}${exception:format=ToString}"
            fileName="d:/C# learning/MyWalletLogs/PersistenceLogs-${shortdate}.txt"
            keepFileOpen="true"
            encoding="utf-8" />
		
	</targets>
		
		


	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" minlevel="Trace" writeto="allfile"/>
		<logger name="MyWallet.Api.*" minlevel="Trace" writeto="ApiLogs"/>
		<logger name="MyWallet.Application.*" minlevel="Trace" writeto="ApplicationLogs"/>
		<logger name="MyWallet.Persistence.*" minlevel="Trace" writeto="PersistenceLogs"/>
		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>
</nlog>